@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

:root{
    --text-color : #000;
    --text-color-dark : #fff;
    --color-1: #fff;
    --color-1-dark : #000;
    --grid-box-shadow-color : #ffff;
    --grid-box-shadow-color-dark : #000;  
}
*{
    margin: 0;
    padding: 0;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}
main {
    flex: 1;
}
/* Menu nav */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    z-index: 999;
    padding-block: 10px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.07);
}
.header-logo{
    display: block;
}
.header-logo img{
    width: 60px;
}
.header-menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.header-menu li{
    margin-left: 20px;
}
.header-menu li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    transition: .2s ease;
}
.header-menu li a:hover{
    background-color: #F2F2F2;
}
.header-menu li:last-child a{
    background-color: orange;
}
.slider{
    width: 100%;
    height: 80vh;
}
.slider-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    filter: brightness(30%);
}
.slider-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1{
    font-size: 5rem;
    color: var(--text-color-dark)
}
h2{
    font-size: 3rem;
}
p{
    font-size: 1.5rem;
    line-height: 1.5em;
}
.slider-content p{
    font-size: 2rem;
    font-weight: 300;
    color: var(--text-color-dark);
}
.section{
    padding: 100px 0;
}
.boxed{
    max-width: 1280px;
    margin-inline: auto;
}
.competence{
    box-shadow: ;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.aligncenter{
    align-items: center;
}
.dark{
    background-color: black;
    color: #FFF;
}
.text-center{
    text-align: center;
}
/* Section A propos */
.apropos{
    width: 40%;
}
.apropos-text{
    width: 60%;
}
.grid{
    display: block;
}
.contact{
    margin-top: 70px;
    border: 2px dashed #FFF;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    gap: 20px;
}
.contact-title{
    display: block;
    font-size: 1.5rem;
    font-weight:700;
    text-transform: uppercase;
    margin: 10px 0;
}
.contact-icon{
    display: block;
    font-size: 1.2rem;
}
.contact-link{
    display: block;
    font-size: 1.2rem;
}
/* Section Compétence */
.grid-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}
.grid-title-outer{
    background-color: var(--color-1);
    box-shadow: 4px 6px var(--grid-box-shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    height: 110px;
}
.grid-title-outer:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.grid-title h2{
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--text-color);
}
.grid-title img{
    border-radius: 50%;
    margin-bottom: 10px;
    max-width: 80px;
    max-height: 80px;
}
.grid-title p{
    font-size: 1em;
    color: var(--text-color);
}
.grid-link{
    display: block;
    text-decoration: none;
}
.grid-label{
    color: var(--text-color);
}
/* Section Projets */
.grid-content-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}
.grid-title-outer-2{
    background-color: var(--color-1-dark);
    border-radius: 10px;
    box-shadow: 0 4px 6px var();
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    height: 300px;
}
.grid-title-outer-2:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.grid-title-2 h2{
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--text-color-dark);
}
.grid-title-2 img{
    border-radius: 50%;
    margin-bottom: 10px;
    max-width: 80px;
    max-height: 80px;
}
.grid-title-2 p{
    font-size: 1em;
    color: var(--text-color-dark);
}
.grid-link-2{
    display: block;
    text-decoration: none;
}
.grid-label-2{
    color: var(--text-color-dark);
}
/* Pied de pages (footer) */
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
}
footer a{
    color: white;
    text-decoration: none;
}
footer .socials-container{
    margin-top: 10px;
}
footer .socials-container a svg{
    margin-right: 15px;
    height: 32px;
    fill: white;
    transition: fill 0.3s ease;
}
footer .socials-container a:hover svg{
    fill: orange; /* Ajout d'une couleur au survol */
}
/* Formulaire */
h1{
    text-align: center;
} 
.form-style{
    margin: 10px auto;
    width: 400px;
    padding: 20px 12px 10px 20px;
    font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style td{
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
} 
.form-style label{
    margin:0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
} 
.form-style .required{
    color:red;
}
.form-style input[type=submit], .form-style input[type=reset]{
    background: #4eb5f1;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
    background: #4eb5f1;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.form-style .field-textarea{
    height: 100px;
}
.form-style input[type=text], 
.form-style input[type=email],
textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style .long{
    width: 100%;
}
.form-style input[type=text]:focus, 
.form-style input[type=email]:focus,
.form-style textarea:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.error{
    color: #D8000C;
    background-color: #FFBABA;
}
/* Modal */
.modal_content a{
    text-decoration: none;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    text-transform: uppercase;
    color: black;
}
.modal{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}
.modal:target{
    visibility: visible;
    opacity: 1;
}
.modal_content{
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: white;
    padding: 1.5em 2em;
}
.modal_content h1{
    color: var(--text-color);
}
.modal_close{
    position: absolute;
    top: 10px;
    right: 10px;
    color: grey;
    text-decoration: none;
}