@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

:root{
    --text-color : #000;
    --text-color-dark : #fff;
    --color-1: #fff;
    --color-1-dark : #000;
    --grid-box-shadow-color : #ffff;
    --grid-box-shadow-color-dark : #000;  
}
*{
    margin: 0;
    padding: 0;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}
main {
    flex: 1;
}
/* Menu nav */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    z-index: 999;
    padding-block: 10px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.07);
}
.header-logo{
    display: block;
}
.header-logo img{
    width: 60px;
}
.header-menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.header-menu li{
    margin-left: 20px;
}
.header-menu li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    transition: .2s ease;
}
.header-menu li a:hover{
    background-color: #F2F2F2;
}
.header-menu li:last-child a{
    background-color: orange;
}
.slider{
    width: 100%;
    height: 80vh;
}
.slider-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    filter: brightness(30%);
}
.slider-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1{
    font-size: 5rem;
    color: var(--text-color-dark)
}
h2{
    font-size: 3rem;
}
p{
    font-size: 1.5rem;
    line-height: 1.5em;
}
.slider-content p{
    font-size: 2rem;
    font-weight: 300;
    color: var(--text-color-dark);
}
.section{
    padding: 100px 0;
}
.boxed{
    max-width: 1280px;
    margin-inline: auto;
}
.boxed h2{
    margin-bottom: 70px;
}
.block{
    margin: 10px;
}
.parcours{
    position: relative;
    background-color: rgb(243, 243, 239);
    padding: 5rem;
    text-align: center;
    max-width: 500px;
}
.parcours ul li{
    list-style-type: none;
}
.etablissement{
    position: relative;
    background-color: rgb(218, 218, 216);
    padding: 5rem;
    text-align: center;
    max-width: 500px;
}
.etablissement ul li{
    list-style-type: none;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.aligncenter{
    align-items: center;
}
.dark{
    background-color: black;
    color: #FFF;
}
.text-center{
    text-align: center;
}
/* Section A propos */
.apropos{
    width: 40%;
}
.apropos-text{
    width: 60%;
}
.grid{
    display: block;
}
.contact{
    margin-top: 70px;
    border: 2px dashed #FFF;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    gap: 20px;
}
.contact-title{
    display: block;
    font-size: 1.5rem;
    font-weight:700;
    text-transform: uppercase;
    margin: 10px 0;
}
.contact-icon{
    display: block;
    font-size: 1.2rem;
}
.contact-link{
    display: block;
    font-size: 1.2rem;
}
/* Section Compétence */
.grid-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}
.grid-title-outer{
    background-color: var(--color-1);
    box-shadow: 4px 6px var(--grid-box-shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    height: 110px;
}
.grid-title-outer:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.grid-title h2{
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--text-color);
}
.grid-title img{
    border-radius: 50%;
    margin-bottom: 10px;
    max-width: 80px;
    max-height: 80px;
}
.grid-title p{
    font-size: 1em;
    color: var(--text-color);
}
.grid-link{
    display: block;
    text-decoration: none;
}
.grid-label{
    color: var(--text-color);
}
/* Section Projets */
.grid-content-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}
.grid-title-outer-2{
    background-color: var(--color-1-dark);
    border-radius: 10px;
    box-shadow: 0 4px 6px var();
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    height: 300px;
}
.grid-title-outer-2:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.grid-title-2 h2{
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--text-color-dark);
}
.grid-title-2 img{
    border-radius: 50%;
    margin-bottom: 10px;
    max-width: 80px;
    max-height: 80px;
}
.grid-title-2 p{
    font-size: 1em;
    color: var(--text-color-dark);
}
.grid-link-2{
    display: block;
    text-decoration: none;
}
.grid-label-2{
    color: var(--text-color-dark);
}
/* Pied de pages (footer) */
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
}
footer a{
    color: white;
    text-decoration: none;
}
footer .socials-container{
    margin-top: 10px;
}
footer .socials-container a svg{
    margin-right: 15px;
    height: 32px;
    fill: white;
    transition: fill 0.3s ease;
}
footer .socials-container a:hover svg{
    fill: orange; /* Ajout d'une couleur au survol */
}
/* Formulaire */
.field {
    margin-bottom: 15px;
}
.field label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    margin-bottom: 5px;
}
.field input,
.field textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}
.field input:focus,
.field textarea:focus {
    border-color: orange;
    box-shadow: 0 0 5px rgba(68, 96, 170, 0.5);
}
input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: orange;
}
/* Modal */
.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
    z-index: 1000;
}
.modal.active {
    visibility: visible;
    opacity: 1;
}
.modal_content {
    position: relative;
    width: 400px;
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: slideIn 0.3s ease-out;
}
.modal_content h1 {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    color: #444;
}
.modal_close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #888;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}
.modal_close:hover {
    color: orange;
}
/* Animations */
@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}